<launch>
  <node pkg="octomap_server" type="octomap_server_node" name="octomap_server" output="screen">
    <param name="map_file" value="" />  <!-- 设置空路径，避免使用缓存路径加载地图 -->
    <param name="base_frame_id" value="world" />
    <!-- resolution in meters per pixel -->
    <param name="resolution" value="0.1" />
 
    <!-- name of the fixed frame, needs to be "/map" for SLAM -->
    <param name="frame_id" type="string" value="world" />
 
    <!-- max range / depth resolution of the kinect in meter -->
    <param name="sensor_model/max_range" value="40" />
    <param name="latch" value="false" />
    <param name="height_map" value="true" />
 
    <!-- max/min height for occupancy map, should be in meters -->
    <param name="pointcloud_max_z" value="2.0" />
    <param name="pointcloud_min_z" value="-2.0" />  
    <param name="occupancy_max_z" value="0.3"/>
    <param name="occupancy_min_z" value="-1.0"/> <!-- 利用高度过滤地面点云 -->
    <param name="filter_speckles" type="bool" value="true" />
    <param name="filter_ground" value="false" />
    <!-- <param name="ground_filter_angle" value="0.15" />
    <param name="ground_filter_distance" value="0.1" />
    <param name="ground_filter_plane_distance" value="0.07" />
  -->
    <!-- topic from where pointcloud2 messages are subscribed -->
    <!-- <remap from="cloud_in" to="/Laser_map" /> -->
    <!-- 使用单帧点云和tf增量式建图 -->
    <remap from="cloud_in" to="/cloud_registered_body" />
    <remap from="projected_map" to="/map" />    <!-- 输出栅格地图话题 -->

 
  </node>
 
</launch>